.dirs-column .panel-body{
    height: 500px;
    overflow-y: scroll;
}
.dirs-column table, .dirs-column table *{
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
}
.dirs-column table tr:hover{
    cursor: pointer;
}
.dirs-column .tasks{
    display: none;
}
.dirs-column.remote .tasks a{
    margin: 0px 10px;
}
.dirs-column.remote .tasks a:hover, .dirs-column.remote .tasks a:focus, .dirs-column.remote .tasks a:active{
    text-decoration: none;
}
.dirs-column.remote .progress{
    width: 50%;
    margin: 165px auto 0 auto;
    display: none;
}
.dirs-column.remote .progress .progress-bar{
    width: 100%;
}
.dirs-column .alerts{
    display: none;
}